<h2><%= link_to("IRC Log Viewer", root_path) %> &raquo; <%= link_to @log_file.irc_channel.name, irc_channel_path(@log_file.irc_channel) %> &raquo; <%= @log_file.file_date %></h2>
<table class="table table-striped">
<thead>
    <tr class="info">
        <th>IRC Nick</th>
        <th>Time (GMT-7)</th>
        <th>Message</th>
    </tr>
</thead>
<tbody>
  <% @clustered_log_entries.each do |clustered_log_entry| %>
    <% log_entry = clustered_log_entry.shift %>
    <tr>
      <td class="log_entry_who"><%= log_entry.who %></td>
      <td class="log_entry_when"><%= log_entry.when.getlocal.strftime("%H:%m") %></td>
      <td><a class="named_a" name="log_entry_<%= log_entry.id %>"><%= log_entry.what %></a>
        <% clustered_log_entry.each do |log_entry| %>
          <hr class="log_cluster_separator"/><a class="named_a" name="log_entry_<%= log_entry.id %>"><%= log_entry.what %></a>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
